@import 'config';
@import 'variables';
@import 'etape'; 





.info_box{
   margin-top: 150px;
   
   .info-title{
    color: rgb(213, 196, 170);
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    text-shadow:1px 1px #7dcc2e;
  
   }
   .info-list{
     display: block;
    text-align: center;
     margin-bottom: 20px;
     line-height:40px;
}
   .buttons{
   //  text-align: center;
   display: flex;
   justify-content: space-around;
   align-items:center;
   padding: 10px 80px;
   .next{
    cursor: pointer;
    width: 90%;
    color:white;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    font-family: 'Poiret One', cursive;
    font-size:16px;
    border-radius: 69px;
    @include button-bg(#2ecc71);
   }
   .retour{
      @extend .next;
      @include button-bg(#6b6807);
      
      
   }
   .submit{
      @extend .next;
      @include button-bg(#07396b);
      
   }
}
}

.quiz_box{
   .title{
      font-size: 14px;
      color: rgba(206, 208, 206, 0.803);
      text-align: center;
      border: 2px dashed rgb(41, 18, 170);
      border-radius: 5px;
      margin: 20px;
   }
 .answers-box{
   @extend .title;
   font-size: 20px;
   padding: 30px;

  .answers{
   padding: 0px 10px ;
   display: flex;
   justify-content: start;
   background-color: rgb(233, 233, 233);
   border-radius: 5px;
  margin-top: 10px;
   &:not(:last-child) {
      border-bottom: 2px solid rgb(161, 130, 130);
   }
  
  
   $i:0;
   @while($i<4){
      & #option_#{$i}{
         cursor: pointer;
         color: rgb(10*$i, 7*$i, 70*$i);
         @if($i==0){
            font-size: 16px;
         }@else{
            font-size: 14px+$i;
         }
         $i:$i+1;
         margin:2px;
      }
     
   }
   
  }
 }


}