@import 'config';
@import 'variables';
@import 'etape'; 





.info_box{
   margin-top: 40px;
   
   .info-title{
    color: red;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 50px;
  
   }
   .info-list{
     display: block;
    text-align: center;
     margin-bottom: 20px;
     line-height:40px;
}
   .buttons{
    text-align: center;
    
    
  
   .next{
    cursor: pointer;
    width: 30%;
    color:white;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    font-family: 'Poiret One', cursive;
    font-size:1em;
    @include button-bg(#2ecc71);
   }
}
}

.quiz_box{
   .title{
      font-size: 10px;
      color: rgb(8, 8, 70);
      text-align: center;
      border: 2px solid black;
      margin: 20px;
   }


}